html {
	font-size: 10px;
  font-family: sans-serif;
}

p {
	font-size: 1.6rem;
	line-height: 1.5;
}

.main-header {
	font-family: billabong, 'billabongregular';
	text-align: center;
	font-weight: 100;
	font-size: 13rem;
	margin: 2rem 0;
	letter-spacing: 1px;
	text-shadow: 3px 5px 0 rgba(0, 0, 0, 0.6);
}

.main-header a {
  color: #06FF06;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
	text-decoration: none;
}

.main-header a:hover{
  color: #06FF06;
  -webkit-text-stroke-width: 0px;
  text-decoration: none;
}

.main-header a:focus {
	outline: 0;
}

@font-face {
	font-family: 'billabongregular';
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
  font-weight: normal;
  font-style: normal;
}


/*TODO: put color in variable*/
.main-header-row{
  margin-top: 5rem;
  background-color: rgba(0, 0, 0, 0.66);
}

.app-container-column{
  border-style: double;
  border-width: 5px;
  min-height: 50rem;
  margin-bottom: 10rem;
  align-content: center;
  border-color: rgba(0, 0, 0, 0.66);
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.flavourgrid-item {
  margin-bottom: 6rem;    
  max-width: none;
}

.flavour-card:hover {
  border: solid 0.3rem black;
}

.like-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.66);
  border-color: rgba(0, 0, 0, 0.66);
  color: white;
  font-size: 1.5rem;
}

.like-button:hover {
  background-color: white;
  color: black;
}


/*Source https://learnredux.com/*/

.likes-heart {
	background: url("http://f.cl.ly/items/3Y373q2Q3J3Y1j203n0m/Bitmap-3.png") center no-repeat;
	background-size: contain;
	font-size: 2rem;
	padding: 1rem;
	position: absolute;
	color: #FF0000;
	left: 50%;
	top: 50%;
	pointer-events: none;
}

.likes-heart {
	opacity: 0;
	transition: all 0.5s;
	transform: translateX(-50%) translateY(-50%) scale(5);
	display: block;
}

.likes-heart.like-enter {
	transition: all 0.2s;
	transform: translateX(-50%) translateY(-50%) scale(1);
	opacity: 1;
}

.likes-heart.like-enter.like-enter-active {
	transform: translateX(-50%) translateY(-50%) scale(5);
}

.likes-heart.like-leave-active {
	display: none;
}
/********************************/